<ul id="peeps-list">
	<% @peeps.sort_by(&:time_created).reverse.each do |peep| %>
		<li>
			<a href="<%= peep.username %>"><%= peep.message %></a>
			<span class="source">
				added by
				<a href="<%= peep.username %>">
					<%= peep.username %>
				</a>
			</span>
			<span class="time_added">
				on
				<a href="<%= peep.username %>">
					<%= peep.time_created.strftime("%-d %b %y %H:%M") %>				
			</span>
		</li>
	<% end %>
</ul>

<div id="new-peep">
	<form action="/peeps" method="post">
		Peep message: <input type="text" name="message">
		<input type="submit" value="Add peep">
	</form>
</div>